body{
    background-color: whitesmoke;
}

h1{
    color:rgba(240, 69, 197, 0.986);
}
img{
    height: 400px;
}

#thirdDiv{
    width: 500px;
    height: 850px;
    background-color:rgba(240, 69, 197, 0.986);
    padding: 50px;
    border: 50px;
    border-color: white;
}

#spanId{
    font-size: 18px;
    margin: 50px;
}